.button {
    display: block;
}
div {
    height: 50px;
    width: 50px;
    background-color: aqua;
    text-align: center;
    position: relative;
   float: left;
   display: block;
   margin-top: 25px;
   margin-right: 10px;
}